.app-title {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background: red;
}

.title{
    border-radius: 3px;
    padding: 10px 0;
    width: 50%;
    text-align: center;
    background: cyan;
}
